{% extends "base.html" %}

{% block content %}

<section class="feed">
    {% for prompt in prompts %}
    <div class="card">
        <img src="{{ prompt.image_url }}" alt="Generated Image">
        <div class="card-content">
            <h3>{{ prompt.title }}</h3>
            <p class="creator">@{{ prompt.creator }}</p>
            <div class="stats">
                <button class="save-btn" data-prompt-id="{{ prompt.id }}">
                    ☆ {{ prompt.saves }}
                </button>

                <button class="like-btn" data-prompt-id="{{ prompt.id }}">
                    ❤️ <span>{{ prompt.likes }}</span>
                </button>
            </div>      
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}